.pagina-inicial {
  display: flex;
  min-height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 16px;
  padding: 24px;

  text-align: center;
}

.pagina-inicial h1 {
  color: var(--cor-destaque);
  font-size: 48px;
}

.pagina-inicial p {
  color: var(--cor-texto-secundario);
  font-size: 18px;
  line-height: 1.6;
}
