@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&family=Rajdhani:wght@400;500;600;700&display=swap");

:root {
  font-family: "Rajdhani", Arial, Helvetica, sans-serif;

  color: #ffffff;
  background-color: #09090b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --font-primary: "Rajdhani", Arial, Helvetica, sans-serif;
  --font-highlight: "Oxanium", Arial, Helvetica, sans-serif;

  --color-background: #09090b;
  --color-surface: #18181b;
  --color-surface-light: #27272a;
  --color-border: #3f3f46;

  --color-text-primary: #ffffff;
  --color-text-secondary: #d4d4d8;
  --color-text-soft: #a1a1aa;

  --color-highlight: #fbbf24;
  --color-highlight-hover: #f59e0b;

  --color-success: #16a34a;
  --color-danger: #dc2626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--color-background);
  color: var(--color-text-primary);

  font-family: var(--font-primary);
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.project-label {
  color: var(--color-highlight);

  font-family: var(--font-highlight);
  font-size: 14px;
  font-weight: 700;

  letter-spacing: 4px;
  text-transform: uppercase;
}
